<% content_for :title do "Morio Okumura" end -%>
<% content_for :mixpanel_event do "top page" end -%>
<div class="row" id="home-index">
  <div class="welcome-message col-sm-6 col-sm-offset-3">
    <h1>Hello, I'm Morio Okumura</h1>
    <section>
      <p>
        I'm full-stack engineer located in Tokyo, Japan.
      </p>
    </section>
    <section class="listups">
      I speak
      <ul>
        <li>Japanese (mother tongue)</li>
        <li>English</li>
      </ul>
    </section>
    
    <section class="listups">
      My tech experiences are
      <ul>
        <li>Ruby / Ruby on Rails</li>
        <li>PHP</li>
        <li>CSS / Sass</li>
        <li>JavaScript / jQuery</li>
        <li>AWS</li>
        <li>Heroku</li>
        <li>Linux</li>
        <li>MySQL</li>
        <li>MongoDB</li>
        <li>Redis</li>
        <li>Nginx</li>
        <li>Apache</li>
        <li>Adobe Illustrator</li>
      </ul>
    </section>
    
    <section class="listups">
      Tools I love
      <ul>
        <li>Github</li>
        <li>Ruby on Rails</li>
        <li>Cloudflare</li>
        <li>Heroku</li>
        <li>Bootstrap</li>
        <li>Google Analytics</li>
        <li>Google Drive</li>
        <li>Trello</li>
        <li>Adobe Illustrator</li>
      </ul>
    </section>
    
    <section class="listups">
      Products I love
      <ul>
        <li>Twitter</li>
        <li>iPhone</li>
        <li>Amazon Kindle</li>
        <li>Minecraft</li>
      </ul>
    </section>
    
    <section class="listups">
      Other things I love
      <ul>
        <li>Travel</li>
        <li>Cartography</li>
        <li>History</li>
        <li>Foreign languages</li>
        <li>Cryptocurrency</li>
        <li>MOOCs</li>
        <li>Skiing</li>
        <li>Sushi</li>
        <li>Vocaloid</li>
        <li>Pokemon</li>
      </ul>
    </section>
    
    <section class="listups">
      Values I hold
      <ul>
        <li>Transparency</li>
        <li>Progress</li>
        <li>Autonomy</li>
        <li>Freedom</li>
        <li>Aesthetics</li>
        <li>Listening</li>
        <li>Efficiency</li>
        <li>Simplicity</li>
        <li>Joy</li>
      </ul>
    </section>
    
    <section class="listups">
      My side projects are
      <ul>
        <li><%= link_to 'The lists', lists_path %></li>
        <li><a href="http://moa.io">Moa flashcard</a></li>
        <li><a href="https://www.samepool.net">SamePool</a></li>
      </ul>
    </section>
    
    <div class="follow-me-button">
      <a href="https://twitter.com/moriook" class="twitter-follow-button" data-show-count="false">Follow @moriook</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</div>
