footer
	border-top: 1px solid #ccc
	margin-top: 16px
	padding: 16px
	text-align: center
	.links
		list-style: none
		padding: 4px
		li
			display: inline-block
			margin: 6px 12px
			a
				color: #999
	.copyright
		color: #aaa
		margin: 24px 0 8px