@import variables

.form-list-item.form-horizontal
	font-family: Lora, Georgia
	.form-submits
		margin-left: -15px
		padding: 15px 0
	.form-inputs
		margin-bottom: 45px
	.form-control
		background-color: #f2fffa
		border: none
		border-radius: 0
		box-shadow: none
		font-size: 16px
		line-height: 22px
		padding: 10px 14px
		&.title
			font-family: $title-font-family
			font-size: 22px
			height: 52px
			line-height: 28px
		&.subtitle
			font-family: $subtitle-font-family
			height: 46px
		&.paragraph
			font-family: $paragraph-font-family
			min-height: 138px
