#home-index
	.welcome-message
		margin-top: 60px
		margin-bottom: 60px
		padding: 15px
		h1
			margin-bottom: 50px
		section
			color: #666
			font-size: 17px
			line-height: 30px
			margin: 50px 0
		.listups ul
			margin-top: 5px
			padding-left: 30px